[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/mortice/taglist.vim.git
[submodule "bundle/alternate"]
	path = bundle/alternate
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/simon-hicks/VimClojure
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/pythonvim"]
	path = bundle/pythonvim
	url = https://github.com/vim-scripts/python.vim
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/taskmanvim"]
	path = bundle/taskmanvim
	url = https://github.com/anadgouda/taskmanagementvim
[submodule "OmniCppComplete"]
	path = OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "bundle/proj-vim"]
	path = bundle/proj-vim
	url = https://github.com/tmallen/proj-vim.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
